:root {
    --primary-color: #03275B;
    --secondary-color: #065143;
    --accent1-color: #FCE273;
    --accent2-color: #799496;
    --background-transparent: rgba(0, 0, 0, 0.5);
    --default-margin: 10px;
    --default-padding: 10px;
    --top-bottom-padding: 10px 0 10px 0;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Lato, Helvetica, sans-serif;
    background-color: var(--accent1-color);
}

header {
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-content: center;
    align-items: center;
    padding: var(--default-padding);
    background-color: var(--accent1-color);
}

header img {
    justify-self: center;
    align-self: center;
}

nav {
    margin: var(--default-margin);
}

h2 {
    margin: var(--default-margin);
    padding: var(--default-padding);
    color: var(--secondary-color);
    border-bottom: solid;
    text-align: center;
}

p {
    margin: var(--default-margin);
    padding: var(--default-padding);
}

section {
    border: solid var(--accent2-color);
    border-radius: 10px;
    margin: var(--default-margin);
    background-color: rgba(255, 255, 255, 0.999);
}

form {
    display: grid;
    width: 650px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    margin: 0 auto 20px;
    padding: 1rem;
    background-color: var(--primary-color);
    color: var(--accent1-color);
}

form h2 {
    border-bottom: 2px solid rgba(252, 226, 115,0.5);
    color: var(--accent1-color);
}

fieldset {
    display: grid;
    grid-gap: 0.5rem;
    border: 1px solid var(--accent2-color);
    border-radius: 0.5rem;
    padding: 1rem;
}

legend {
    padding: 0.5rem;
    color: var(--accent1-color);
    font-size: 1.3em;
}

label {
    text-align: right;
    padding-right: 1rem;
    color: #eee;
}

input, textarea {
    padding: 0.5rem;
    font-size: large;
}

input[type="checkbox"] {
    width: 25px;
    height: auto;
    vertical-align: middle;
}

input[type="radio"] {
    width: 25px;
    height: auto;
    vertical-align: middle;
}

label[for="newsletter"] {
    text-align: left;
    vertical-align: middle;
}

button {
    font-family: Lato, Helvetica, sans-serif;
    font-size: 1.1rem;
    margin: 1rem;
    background-color: #eee;
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem;
    color: var(--primary-color);
}

button:hover {
    cursor: pointer;
    background-color: var(--accent2-color);
    color: white;
}

footer {
    display: grid;
    grid-template-columns: 1fr auto;
}

footer p {
    grid-column: 1;
    text-align: center;
}

/* Class selectors */
.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
    top: 50%;
    padding-bottom: 1em;
}

.hero h1 {
    position: absolute;
    top: 10px;
    width: 100%;
    font-family: Bungee, Georgia, serif;
    color: var(--accent1-color);
    font-size: 50px;
    text-align: center;
    background-color: var(--background-transparent);
    padding: var(--top-bottom-padding);
}

.hero article {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
    color: white;
    background-color: var(--background-transparent);
    margin: var(--default-margin);
    box-sizing: border-box;
}

.hero article img {
    float: right;
    width: 200px;
    height: auto;
    padding: var(--default-padding);
}

.top-nav {
    display: flex;
    list-style: none;
    flex: 1 1 100%;
    justify-content: space-around;
}

.top-nav a {
    text-decoration: none;
    color: var(--primary-color);
    font-size: 1.2em;
    font-weight: 700;
}

.top-nav a:hover {
    color: var(--accent2-color);
}

.history {
    display: flex;
    justify-content: space-around;
    margin: var(--default-margin);
}

.history img {
    flex: 1 1 auto;
    width: 200px;
    height: auto;
    align-self: center;
    ;
}

.history p {
    flex: 3;
}

.adventure {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    margin: var(--default-margin);
    padding: var(--default-padding);
}

.adventure figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.adventure img {
    max-width: 90%;
}

.social-links {
    grid-column: 2;
    display: flex;
    align-self: center;
    gap: 1em;
    margin-right: 2rem;
}

.social-links a {
    text-decoration: none;
}

.social-links img {
    width: 2em;
}

/* ID selectors */
#one {
    grid-area: 2 / 2 / 3 / 3;
}

#two {
    grid-area: 2 / 3 / 3 / 4;
}

.contact-title {
    font-family: Bungee, Georgia, serif;
    color: var(--accent1-color);
    font-size: 20px;
    text-align: center;
    background-color: var(--primary-color);
    padding: var(--default-padding);
}
.contact-container {
    max-width: 80%;;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    align-items: center;
    margin: 10px auto;
    padding: var(--right-left-padding);
    background-color: var(--primary-color);
    border-radius: 10px;
}

.contact-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    color: white;
}

.contact-container h2 {
    border-bottom: 2px solid rgba(252, 226, 115,0.5);
    color: var(--accent1-color);
}

.contact-container a {
    color: white;
    text-decoration: none;
}

.contact-container a:hover {
    color: var(--accent1-color);
}

.map {
    margin: var(--default-margin);
    padding: var(--default-padding)
}

.map iframe {
    width: 100%;
    height: 35rem;
    border-radius: 15px;
    border: none;
}

.employees {
    gap: 30px;
    align-items: center;
    text-align: center;
    margin: 10px auto;
    padding: var(--top-bottom-padding); 
    background-color: var(--accent1-color);
    border: none;
    border-radius: 0;
}

.employees h2 {
    margin: var(--default-margin);
    padding: var(--default-padding);
    border-bottom: none;
    font-family: Bungee, Georgia, serif;
    font-size: 30px;
    color: var(--primary-color);
}

.employee-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
    max-width: 100%;
    margin: 10px auto;
}

.employee-list figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 300px;
}

.employee-list img {
    max-width: 100%;
    border-radius: 8px;
}

.employee-list figcaption {
    margin: 10px;
    color: var(--primary-color);
    font-weight: 600;
}

.details {
    display: flex;
    align-items: center;
}

.details label {
    width: 120px;
    margin-right: 20px;
}

.details input[type="text"] {
    flex: 1;
    padding: 5px;
    margin-right: 50px;
}

.radio-button {
    display: block;
    margin-bottom: 10px;
}

.radio-button label {
    vertical-align: middle;
}

.radio-button label:hover {
    cursor: pointer;
}

.checkbox-container {
    display: inline-block;
}